body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 300px;
    padding-right: 300px;
}

#first-wrapper {
    display: inline;
    background-color: lightcyan;
}

.Header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Links {
    display: flex;
    gap: 8px;
}

#first-content {
    display: flex;
}

#image {
    background-color: blue;
}