body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 300px;
    padding-right: 300px;
}

#first-wrapper {
    width: 100%;
    background-color: lightcoral;
}

.Header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Links {
    display: flex;
    gap: 8px;
}

.first-content {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    gap: 100px;
}

#placeholder {
    background-color: lightblue;
    height: 200px;
    width: 250px;
    text-align:center;
}

button {
    border-radius: 5px;
    background-color: darkblue;
    text-decoration: none;
}